@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
@import url("grid.min.css");
@font-face {
  font-family: avenir;
  src: url("..fonts/avenir.otf");
}
* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  height: auto;
  margin: 0;
  padding: 0;
}
body {
  display: block;
  color: #444;
  font-family: "Open Sans", Helvetica;
  padding-top: 4em;
}
body input:focus {
  outline: none;
}
body a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
body a:visited,
body a:focus,
body a:hover {
  text-decoration: none;
  color: inherit;
}
body .nav-bar {
  display: block;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}
body .nav-bar.mobile {
  display: none;
  width: 100%;
}
body .nav-bar.mobile .father {
  width: 50%;
  display: inline-block;
  flex-grow: 1;
  height: 4em;
}
body .nav-bar.mobile .father.logo {
  background-color: #f46942;
  min-width: 15em;
}
body .nav-bar.mobile .father.logo .burger {
  display: inline-block;
  width: 3.8em;
  height: 4em;
  padding: 1em;
  cursor: pointer;
}
body .nav-bar.mobile .father.logo .burger span {
  height: 2px;
  margin: 0.5em 0;
  width: 100%;
  display: block;
  background-color: #fff;
}
body .nav-bar.mobile .father.logo .burger span:nth-child(1) {
  margin-top: 0.25em;
}
body .nav-bar.mobile .father.logo .burger.alt span:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: center left;
  transition: all 0.3s;
}
body .nav-bar.mobile .father.logo .burger.alt span:nth-child(2) {
  opacity: 0;
  transition: all 0.2s;
}
body .nav-bar.mobile .father.logo .burger.alt span:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: center left;
  transition: all 0.2s;
}
body .nav-bar.mobile .father.logo .burger.unalt span:nth-child(1) {
  transform: rotate(0);
  transform-origin: center left;
  transition: all 0.3s;
}
body .nav-bar.mobile .father.logo .burger.unalt span:nth-child(2) {
  opacity: 1;
  transition: all 0.2s;
}
body .nav-bar.mobile .father.logo .burger.unalt span:nth-child(3) {
  transform: rotate(0);
  transform-origin: center left;
  transition: all 0.2s;
}
body .nav-bar.mobile .father.logo .brandname {
  padding: 0.22em 0.8em;
  font-weight: 700;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-family: avenir;
  font-size: 1.3em;
}
body .nav-bar.mobile .father.logo .brandname span {
  display: block;
  font-size: 0.8em;
  font-weight: 600;
}
@media screen and (max-width: 800px) {
  body .nav-bar.mobile {
    display: flex;
  }
}
body .nav-bar.desktop {
  width: 100%;
  display: flex;
}
body .nav-bar.desktop .logo {
  height: 4em;
  width: 10em;
  display: inline-block;
  flex-shrink: 1;
}
body .nav-bar.desktop .menu {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  vertical-align: top;
  height: 4em;
}
body .nav-bar.desktop .menu .item {
  display: inline-block;
  list-style: none;
  flex-grow: 1;
  text-align: center;
}
body .nav-bar.desktop .menu .item:before {
  content: '';
  height: 3px;
  display: block;
  width: 100%;
  background: #f46942;
}
body .nav-bar.desktop .menu .item:hover {
  background: #fafafa;
  transition: all 0.3s;
}
body .nav-bar.desktop .menu .item:hover a {
  color: #f46942;
  transition: color 0.3s;
}
body .nav-bar.desktop .menu .item:hover:before {
  transition: all 0.3s;
  height: 5px;
}
body .nav-bar.desktop .menu .item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.5em 0;
  position: relative;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
}
body .nav-bar.desktop .menu .item a:after {
  content: '';
  height: 1.5em;
  background: #ddd;
  width: 1px;
  display: block;
  position: absolute;
  right: 0px;
  top: 1.5em;
}
@media screen and (max-width: 800px) {
  body .nav-bar.desktop {
    display: none;
  }
}
.image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.image.featured {
  height: 35em;
  background-color: #666;
  width: 100%;
}
.bulletin {
  width: 100%;
  position: relative;
  height: auto;
  padding: 3em 5em;
}
.bulletin.blue {
  background-color: #20318d;
  color: #fff;
}
.bulletin .button {
  padding: 0.2em 1.5em;
  font-size: 1.3em;
  text-transform: uppercase;
  background-color: #a5a8b5;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}
.bulletin .button:hover {
  background-color: #6f717d;
  transition: all 0.3s;
}
.bulletin .additional-info {
  float: right;
  padding-top: 0.5em;
}
.bulletin .additional-info .info {
  padding: 0 1em;
  color: #fff;
  display: inline-block;
}
.bulletin .additional-info .info:last-of-type {
  border-left: 1px solid #ddd;
}
.container {
  padding: 3em 5em;
}
.container .leaf {
  position: relative;
}
.container .leaf:after {
  content: '';
  height: 10em;
  width: 10em;
  position: absolute;
  right: -5em;
  top: -1em;
  background-image: url("../img/leaf.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
.container .upper {
  text-transform: uppercase;
}
.container .featured-text {
  color: #666;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
  font-family: avenir;
  max-width: 30em;
  margin: 0 auto;
  padding: 1em 0;
}
.container .featured-text.orange {
  color: #f46942;
}
.container .featured-text.semi {
  font-weight: 600;
  font-size: 1.3em;
  max-width: initial;
  text-align: left;
  text-transform: none;
}
.container .pre {
  position: relative;
  padding: 1em 2em;
  max-width: 800px;
  margin: 4em auto 7em;
  font-family: "Open Sans", Helvetica;
  font-weight: 100;
}
.container .pre:before {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #f46942;
}
.container .blog-feed .blog {
  width: 100%;
  min-height: 12em;
  background-color: #666;
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.container .blog-feed .blog:hover .orange-box {
  opacity: 1;
  transition: all 0.3s;
}
.container .blog-feed .blog .orange-box {
  background-color: #f46942;
  width: 120%;
  height: 12em;
  display: block;
  position: absolute;
  transform: rotate(135deg);
  left: -50%;
  top: -5em;
  z-index: 0;
  opacity: 0.7;
}
.container .blog-feed .blog .title {
  color: #fff;
  z-index: 1;
  position: absolute;
  text-transform: uppercase;
  max-width: 8em;
  font-size: 0.75em;
  font-family: avenir;
  top: 1em;
  left: 1em;
  font-weight: 500;
}
.container .blog-feed .blog .title:after {
  content: 'méxico solar';
  position: absolute;
  bottom: -2em;
  left: 0;
  text-transform: uppercase;
  font-size: 0.7em;
  width: 8em;
}
.footer {
  background-color: #f0f0f0;
  display: block;
  padding: 3em 0;
}
.footer .social {
  display: inline-block;
  float: right;
  padding-top: 1em;
}
.footer .social .network {
  font-size: 1.5em;
  display: inline-block;
  margin-left: 0.5em;
  border: 3px solid #666;
  border-radius: 100%;
  width: 1.7em;
  height: 1.7em;
}
.footer .social .network:hover {
  border-color: #999;
  color: #999;
  transition: all 0.3s;
}
.footer .social .network i {
  display: block;
  text-align: center;
  line-height: 1.5em;
}
.footer .newsletter {
  text-transform: uppercase;
  font-family: avenir;
  font-weight: 600;
  display: inline-block;
}
.footer .newsletter .inputs {
  display: block;
}
.footer .newsletter .inputs input {
  display: inline-block;
  background-color: #d7d7d7;
  border: none;
  height: 2em;
  padding: 0 1em;
  text-transform: uppercase;
}
